<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-edit"></i> Edit Profile
      </h1>
      <% include ./partials/messages %>
      <form action="/edit_profile" method="POST">
        <div class="form-group">
          <input type="hidden" name="id" value="<%= user._id%>" >
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= user.name %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= user.email %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Update
        </button>
      </form>
      <form action="/edit_password" method="POST">
        <div class="form-group">
          <input type="hidden" name="id" value="<%= user._id%>" >
          <label for="old-password">Old Password</label>
          <input
            type="password"
            id="password"
            name="oldPassword"
            class="form-control"
            placeholder="Old Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Update
        </button>
      </form>
    </div>
  </div>
</div>
